.course-study-page {
    background: linear-gradient(135deg, #0a192f, #0b1727);
    color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
    border: 2px solid transparent;
    /* Initially transparent */
}

.course-study-page:hover {
    transform: scale(1.02);
    border: 2px solid #7c49fd;
    box-shadow: 0 0 15px rgba(100, 255, 218, 0.5);
}

.course-study-page img {
    width: 50%;
    height: auto;
    max-height: 200px;
    border-radius: 8px;
    border: 2px solid #64ffda;
    transition: all 0.3s ease-in-out;
}

.course-study-page img:hover {
    filter: brightness(1.2);
    transform: rotate(2deg);
}

.course-study-page h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.course-study-page h4,
.course-study-page h5 {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 5px;
}



@media (max-width: 768px) {
    .course-study-page {
        padding: 12px;
        max-width: 90%;
    }

    .course-study-page img {
        width: 60%;
        max-height: 150px;
    }

    .course-study-page h2 {
        font-size: 18px;
    }

    .course-study-page h4,
    .course-study-page h5 {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        padding: 6px 12px;
    }
}